{% extends 'blog/base.html' %}
{% load static %}
{% block headtitle %}Политика конфеденциальности {% endblock %}
{% block desk %}Политика конфеденциальности компании BazulurTeam {% endblock %}
{% block content %}
<div class="blog__screen">
		<!-- Menu -->
		<div class="menu action__back">
			<div class="container">
				<div class="col-3 col-sm-4 col-lg-2">
					<div class="logo">
						<a class="logo1" href="/index.html" title="Разработка и продвижение сайтов и лендингов под ключ"><img src="{% static 'img/logo.png' %}" 	title="Разработка и продвижение сайтов и лендингов под ключ" alt="Разработка и продвижение сайтов и лендингов под ключ"></a>
						<a class="logo2" href="/index.html" title="Разработка и продвижение сайтов и лендингов под ключ"><img	src="{% static 'img/logomin.png' %}" title="Разработка и продвижение сайтов и лендингов под ключ" alt="Разработка и продвижение сайтов и лендингов под ключ"></a>
					</div>
				</div>
				<div class="menu__item">
				<ul>
					<li><a href="/index.html#plan">Услуги</a></li>
					<li><a href="/index.html#ggg">Портфолио</a></li>
					<li><a href="/index.html#comp">О компании</a></li>
					<li><a href="/blog.html">Блог</a></li>
				</ul>
				</div>
				<div class="contacts" itemscope itemtype="http://schema.org/Organization">
					<meta itemprop="name" content="BazulurTeam" />
					<p><a href="tel:+79290596615" itemprop="telephone"> +7 (929) 05 96 615 </a></p>
					<span itemprop="email">info@bazulurteam.ru</span>
				</div>
				<div class="menu__hamb hamb__blog">
				<button class="hamburger hamburger--elastic" type="button"
				aria-label="Menu" aria-controls="navigation">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
				</button>
				<nav id="navigation">
					<ul class="navs hiddens">
						<li><a href="/index.html#plan">Услуги</a></li>
						<li><a href="/index.html#ggg">Портфолио</a></li>
						<li><a href="/index.html#comp">О компании</a></li>
						<!--li><a href="/blog.html">Блог</a></li-->
					</ul>
				</nav>
				</div>
			</div>
		</div>
		<!-- Menu -->
		<div class="blog__content back__scr__one">
			<div class="container clearfix">
				<div class="col-12 col-lg-12">
					<div class="blog__title">
						<h1>Политика конфиденциальности</h1>
						<p>Данная политика конфиденциальности разработана в соответствии с Федеральным законом Российской Федерации от 27.07.2006 г. № 152-ФЗ «О персональных данных» Все лица заполнившие сведения составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.</p>
                        <p>Под персональными данными Гражданина понимается указанная общая информация: Имя, Телефон, E-mail. Пользователи, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.</p>
                        <p>Пользователь гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; вся предоставленная информация заполнена Пользователем в отношении себя лично.</p>
                        <p>Компания обеспечивает соблюдение конфиденциальности в отношении каждого посещения веб-сайтов компании. Политика обеспечения конфиденциальности, проводимая компанией, заключается в идентификации собранной компанией информации и применении правил использования таковой и сводится к следующему:</p>
                        <p>Компания осуществляет сбор частной информации (Ф.И.О., адрес, номер телефона/факса и адреса электронной почты) только в том случае, когда такая информация лично предоставляется посетителем наших веб-сайтов.</p>
                        <p>Компания не продает, не передает в аренду и не предоставляет каким-либо другим образом в распоряжение третьих сторон частную информацию, предоставленную посетителями нашего веб-сайта.</p>
                        <p>Указанная информация не будет использована в целях прямого маркетинга или в рамках последующих мероприятий, проводимых по собственной инициативе компании, если владелец такой информации не будет заранее проинформирован о возможности такого использования и не даст при предоставлении таковой особого разрешения на ее использование.</p>
                        <p>Компания может использовать данную информацию для следующих целей:</p>
                        <ul>
                        <p>Отправка на электронный адрес пользователя пресс-релизов или уведомлений о совершаемых им заказов</p>
                        <p>Информирование пользователя о товарах, услугах и проводимых мотивационных программах</p>
                        </ul>
                        <p>Только уполномоченный персонал компании или агенты компании (которые приняли обязательство о неразглашении информации) имеют доступ к частной информации.</p>
                        <p>Компания использует статистическую информацию, не являющуюся частной информацией, полученную от пользователей (тип браузера, территориальное положение, возраст, пол), для оптимизации сайта как часть непрерывного внутреннего процесса анализа и в целом для более глубокого изучения клиентов.</p>
                        <p>Компания не будет предоставлять такую информацию третьим лицам. Указанная информация будет использована исключительно в заявленных целях и не будет использована для каких-либо проводимых по собственной инициативе информационных мероприятиях без получения на то согласия владельца такой информации.</p>
					</div>
				</div>
				</div>
			<div id="ell1_f" class="ell"></div>
			<div id="ell2_f" class="ell"></div>
			<div id="ell4_f" class="ell animated infinite pulse"></div>
			<div id="ell5_f" class="ell animated infinite pulse"></div>
			<div id="ell6_f" class="ell animated infinite pulse"></div>
			<div id="ell7_f" class="ell"></div>
			<div id="ell9_f" class="ell"></div>
			<div id="ell10_f" class="ell"></div>
			<div id="fc1" class="animated infinite pulse"></div>
			<div id="fc2" class="animated infinite flash"></div>
			<div id="fc3" class="animated infinite flash"></div>
			<div id="fc4" class="animated infinite pulse"></div>
			<div id="fc5" class="animated infinite flash"></div>
			<div id="fc6" class="animated infinite pulse"></div>
			<div id="fc7" class="animated infinite flash"></div>
		</div>
</div>
{% endblock %}